{{extend './dome.html'}}

{{block 'title'}} 技能展示嘉年华 {{/block}}

{{block 'link'}} <link rel="stylesheet" type="text/css" href="../public/lib/mui/css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../public/css/style.css">
<link rel="stylesheet" type="text/css" href="../public/css/banneract.css">{{/block}}
{{block 'content'}}
<div class="bannerimg" id="navtop">
	<video src="../public/images/act.mp4" class="video" controls="true" loop="true" autoplay="true"></video>
</div>
<!--标题-->
<div class="bannertitle">
	<h1 class="title" style="text-align: center;">2019年直属学院“华龙大道壹号”技能展示嘉年华</h1>
	<div class="info">
		<span>主办单位:重庆广播电视大学直属学院</span>
	</div>
	<div class="info">
		<span>承办单位:直属学院教务教学科</span>
	</div>
</div>
<!--活动主题-->
<div class="article">
<h1 class="title">一、大赛主题：<br>"华龙大道1号"</h1>
<p>活动时间：2019年6月4日-6月6日</p>
<p>撤展时间：2019年6月7日</p>
<h1 class="title">主题解析：</h1>
<p>“华龙大道1号”，是我们学校的地址，代表了我们的校园，也代表了同学们的大学青春时光。“华龙大道1号”即是青春的激情，也是青春的不悔奋斗；是青春的画卷，也是青春的态度！</p>
<h1 class="title">二、参赛项目：</h1>
<!--活动项目-->
<div class="bannerimg2">
	<img src="../public/images/bannerimg2.png">
</div>
<!--项目内容3涂鸦大赛-->
<br>

	<img src="../public/images/hua.jpg" alt="" class="bannerimg2">

	<div class="content">
		<h1>涂鸦大赛</h1>

		<p><b>负责人：</b>郑菊子</p>
		<p><b>时间：</b>9:30--16:00</p>
		<p><b>地点：</b>操场座位席</p>
		<p class="titleduo"><b>参与专业：</b>我院2017、2018级视觉传播设计与制作专业全体学生以班级团体为单位，成立团队小组，分别为：17视觉7组、18视觉1班6组、18视觉2班6组、18视觉3班6组，合计25个小组。</p>
		<p class="titleduo"><b>内容简介：</b>绘画、纸雕、扎染手绘服装展示、国画、水溶彩铅绘画展示</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>
		<!--项目内容4视觉-->
	<div class="content">
		<h1>品牌视觉研究设计大赛</h1>
		<p><b>负责人：</b>郑菊子</p>
		<p><b>时间：</b>2019年6月4日-6日</p>
		<p><b>地点：</b>林荫大道</p>
		<p class="titleduo"><b>参与专业：</b>我院2017级视觉传播设计与制作专业全体学生，全班分为7个小组分别以团体参赛。</p>
		<p class="titleduo"><b>内容简介：</b>学生以团队为单位，自选行业品牌，进行品牌视觉研究设计，包括品牌主视觉标志、应用规范、办公系统产品设计、应用系统产品设计、包装系统设计、吉祥物设计、文创产品设计、展场设计，并以此体现各自品牌的理念、视觉、行为系统，各团队将亲自成为品牌店员，售卖设计的文创产品，诠释品牌的理念，带领顾客进行沉浸式体验。比赛方式以团队为单位，根据评分标准评比出奖项。</p>
		<p class="titleduo"><b>参赛方式：</b>各团队现场展示设计成果，销售设计周边产品。</p>
		<p class="titleduo"><b>评比方式：</b>现场打分，分值以百分制计算。</p>
		<p class="titleduo"><b>评比标准：</b>1.	品牌主视觉部分的创新性、艺术性、规范性。包括：品牌标志规范、企业名称、标准标志、标准字体、标准色彩、组合模式、象征纹样、吉祥物等。30%
		2.	品牌应用部分周边视觉产品的可行性、规范性、环保性。包括：办公事物用品设计、公共关系赠品设计、员工制服规范、企业车体外观设计，标志符号指示系统、销售店面标识系统、产品包装识别系统、广告宣传规范等。所设计应用产品与品牌所在行业性质是否符合。40%
		3.	品牌视觉VI手册的规范性。包括：内容设计全面，制作规范，包括手册封面、封底、目录、扉页、基础系统和应用系统。 包括：印刷工艺的规范、特种纸张的把握，整体的设计感。20%
		4.	评审个人喜好20%，10%
		</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>



<!--项目内容1最强大脑-->
	<img src="../public/images/long.jpg" alt="" class="bannerimg2">
	<div class="content">
		<h1>最强大脑</h1>
		<p><b>负责人：</b>杨书萍、向玲、姜维维</p>
		<p><b>时间：</b>9:00-9:30</p>
		<p><b>地点：</b>操场</p>
		<p><b>参与专业：</b>全院师生</p>
		<p class="titleduo"><b>内容简介：</b>选择题、判断题50道左右，直接PK到10人以内结束。操场划分ABC三个区域。</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>

<!--项目内容2学前教育-->
	<img src="../public/images/da.jpg" alt="" class="bannerimg2">
	<div class="content">
		<h1>学前教育展示</h1>
		<p><b>负责人：</b>杨睿端、关瑛</p>
		<p><b>时间：</b>9:30-11：00</p>
		<p><b>地点：</b>操场</p>
		<p><b>参与专业：</b>全院师生</p>
		<p class="titleduo"><b>内容简介：</b>绘画、纸雕、扎染手绘服装展示、国画、水溶彩铅绘画展示</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>


<!--项目内容5摄影-->
	<img src="../public/images/dao.jpg" alt="" class="bannerimg2">
	<div class="content">
		<h1>摄影大赛展示</h1>
		<p><b>负责人：</b>黄伟、杨睿端</p>
		<p><b>时间：</b>11:00-16:00</p>
		<p><b>地点：</b>林荫大道</p>
		<p class="titleduo"><b>参与专业：</b>以视觉传播设计与制作专业师生为主体征集个人作品，号召鼓励全院师生参加。</p>
		<p class="titleduo"><b>内容简介：</b>比赛方式：现场展示；邀请评委卢跃生、吴秋萍、唐德军、郑菊子、杨睿端、特邀评委陈崇刚；评比方式：现场打分，分值以百分制计算；评比标准：
		1. 拍摄创作题材积极向上，具有青春活力气息50%，2. 构图、光影有艺术感30%，3. 评审个人喜好20%，最后统计出各组成绩。
		</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>


	<img src="../public/images/yi.jpg" alt="" class="bannerimg2">
<!--项目内容6cosplay-->
	<div class="content">
		<h1>COSPLAY秀</h1>
		<p><b>负责人：</b>杨睿端</p>
		<p><b>时间：</b>11:00-16:00</p>
		<p><b>地点：</b>林荫大道</p>
		<p class="titleduo"><b>参与专业：</b>2016、2017、2018级学前教育、视觉传播设计与制作专业学生合计14人。以表演互动形式，不设置奖项。</p>
		<p class="titleduo"><b>内容简介：</b>自由拍照互动时间； coser舞台走秀；伴唱上台、舞台互动游戏（互动小游戏：捉住现场coser单独合照，集齐8张自拍可到舞台区获得精美小礼品（饼干棒棒糖）一份）</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>
<!--项目内容7跳蚤市场-->
	<div class="content">
		<h1>跳蚤市场</h1>
		<p><b>负责人：</b>曾飞</p>
		<p><b>时间：</b>11:00-16:00</p>
		<p><b>地点：</b>林荫大道</p>
		<p><b>参与专业：</b>全院师生</p>
		<p class="titleduo"><b>内容简介：</b>1、通过跳蚤市场活动推广勤俭节约、低碳环保的思想。让同学把闲置的文化用品、玩具、图书生活用品等拿到跳蚤市场进行钱物交换，从而培养同学不浪费自己的物品、节约资源、爱护环境的意识和良好劳动习惯，让同学体验"劳动快乐""公平买卖"、"资源共享".2、通过交易，让同学们初步感受市场经济，给同学创设理财平台，学会推销、购买商品，设计促销标语、广告、海报，增强团队意识。</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>

	<img src="../public/images/hao.jpg" alt="" class="bannerimg2">
<!--项目内容8机器人活动-->
	<div class="content">
		<h1>智慧机器人展示</h1>
		<p><b>负责人：</b>施旭</p>
		<p><b>时间：</b>10:30-16:00</p>
		<p><b>地点：</b>林荫大道</p>
		<p><b>参与专业：</b>机械与软件</p>
		<p class="titleduo"><b>内容简介：</b>1、现场同学或嘉宾互动体验，观众将一个六面魔方随机打乱，放置在机器人位置。通过颜色扫描，按照一定的算法。采用机械结构按住魔方进行旋转，最终还原六面体魔方。2、大屏幕电视一台，主机一台。用于循环展示之前一个月内机器人搭建的其他功能。3、现场设置技术组（技术保障）、解说组（视频或现场魔方还原解说）</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>
<!--项目内容9软件编程-->
	<div class="content">
		<h1>软件项目展示</h1>
		<p><b>负责人：</b>王晓娜、黄伟</p>
		<p><b>时间：</b>14:30-15:30</p>
		<p><b>地点：</b>教室</p>
		<p><b>参与专业：</b>计算机</p>
		<p class="titleduo"><b>内容简介：</b>展示方式：结合各年级本学期所学内容，以小组形式组队，预计作品10个以上；展示要求1.参展资源尽量以学校现有资源为主，需申请2个服务器（PHP和asp.net各一个）用于学生应用开发。2.参展小组最终效果为可访问、可实现对应功能的界面。3.参展小组通过现场产品推介的方式进行展示，并现场投票选出4.需黄伟老师和张德才老师配合搭建现场环境；任务分配：由王晓娜老师组织各参展小组，带领小组中的学生进行前期培训。</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>
<!--颁奖晚会10-->
	<img src="../public/images/act10.jpg" alt="" class="bannerimg2">
	<div class="content">
		<h1>颁奖晚会</h1>
		<p><b>负责人：</b>教研室主任级全体教师参与</p>
		<p><b>时间：</b>6月5日 14:30-15:30</p>
		<p><b>地点：</b>科学会堂</p>
		<p><b>参与专业：</b>所有专业及获奖学生代表</p>
		<p class="titleduo"><b>内容简介：</b>绘画、纸雕、扎染手绘服装展示、国画、水溶彩铅绘画展示</p>
		<div class="loaded"><img src="../public/images/xiaodianshi.png" ></div>
	</div>
	<p style="font-size: 10px;text-align: center;color: #C0C0C0;">关于我们:©17级计算机二班黑马小组<br>
	联系方式:2861969038@qq.com</p>
<!--锚点-->

<a href="#navtop" href="#"><button class="sh-claimbtn">顶部</button></a>

<script type="text/javascript" src="../public/lib/mui/js/mui.min.js"></script>
<script type="text/javascript">
</script>
  {{/block}}