{{extend './dome.html'}}
{{block 'title'}} 班费 {{/block}}

{{block 'link'}} <link rel="stylesheet" type="text/css" href="../public/css/SH.css">{{/block}}

{{block 'content'}}
<!--班费曲线图-->
<!--支出支入-->


<form class="mui-input-group">
    <div class="mui-input-row">
        <label>当前余额</label>
        <input type="text" id="balance" class="mui-input-clear" readonly="true" value="{{money}}" disabled="">
    </div>
     <div class="mui-input-row">
        <label>总收入</label>
        <input type="text" id="allsr" class="mui-input-clear" readonly="true" value="" disabled="">
    </div>
    <div class="mui-input-row">
        <label>总支出</label>
        <input type="text"  id="allzc"  class="mui-input-clear" readonly="true" value="" disabled="">
    </div>
   
</form >
<form id="form" >
<div class="classfee-money">
        <h4>收入
          <p></p>
         <input type="text" name="sr"  id="btn-sr" placeholder="收入" >
         </h4>
         <h4>支出
          <p></p>
         <input type="text" name="zc" id="btn-zc" placeholder="支出" >
        </h4>
        <textarea id="content" name="info"  rows="10" placeholder="输入支出收入描述"></textarea>
</div>
</form>
<!--当前余额-->
<br>
<button  type="button" id="tj"class="mui-btn mui-btn-primary btnfh">提交</button>
<br>
<a  href="/bill" class="mui-btn mui-btn-primary btnfh">账单明细</a>
<br>
<a href="/user"><button type="button" class="mui-btn mui-btn-primary btnfh">返回</button></a>
<script type="text/javascript" src="../public/lib/mui/js/mui.min.js"></script>  
<script src="../public/lib/jquery/jquery.min.js"></script>
<script type="text/javascript">



getBalance();

$('#tj').on('click',function(){
    getData(function(data){
        if(data.err_code==0){
          mui.alert("提交失败");
      }else if(data.err_code==1){
          mui.alert("提交成功",function(){
            location.href="/sh_classFee";
          });
      }else{
        mui.alert("服务器繁忙");
      }
    })
})


$('#btn-sr').on('focus',function(){
  $('#btn-zc').parent().fadeOut();
 })
  $('#btn-sr').on('blur',function(){
  $('#btn-zc').parent().fadeIn();
 })

   $('#btn-zc').on('focus',function(){
  $('#btn-sr').parent().fadeOut();
 })

  $('#btn-zc').on('blur',function(){
  $('#btn-sr').parent().fadeIn();
 })

 function getData(callback){
    var obj = $('#form').serialize();
    console.log(obj);
    $.ajax({
    url:"/sh_classFee",
    data:obj,
    type:"POST",
    success: function (data) {
       callback(data);
    }
  });
  }

function getBalance(){
	$.ajax({
	url:'/feeData',
	type:'get',
	data:'',
	dataType:'json',
	success:function(data){
		var balance =$('#balance').val()
		money=data.rows;
    console.log(money);
		var zc =money[0]['zc'];
		var sr =money[0]['sr'];
		$('#balance').val(parseInt(balance)-zc+sr);//算出来的结果
		$('#allzc').val(zc);
		$('#allsr').val(sr);
	}
})
}
</script>   
{{/block}}
