{{extend './dome.html'}}

{{block 'title'}} 学生电话 {{/block}}

{{block 'link'}} <link rel="stylesheet" type="text/css" href="../public/css/SH.css">
 {{/block}}
{{block 'content'}}
<!--学生电话-->
<ul class="mui-table-view">

	{{each rows}}
    <li class="mui-table-view-cell mui-media">
            <a href="tel:{{$value.stuPhone}}" class="mui-media-body">

               <p class='mui-ellipsis stuname'>姓名: {{$value.stuName}}</p>
               <p class='mui-ellipsis'><small>学号: {{$value.stuId}} </small> <small>寝室：{{$value.chamBer}} </small> <small>电话：{{$value.stuPhone}}</small></p>
            </a>
    </li>
	{{/each}}
</ul>
<br/>
<a href="/user" class="mui-btn mui-btn-primary phone-btn">返回</a>

<script type="text/javascript" src="../public/lib/mui/js/mui.min.js"></script>
<script type="text/javascript">
</script>
{{/block}}